extends layout
block content
    .confirm.flex.justify-content-end
        .body-content
            .container
                .row
                    .col
                        span ¡Gracias!
                .row
                    .col
                        span.message-confirm=message
                .row
                    .col